# Sample SQL Snippets
These examples connect to the AdventureWorks database and run simple queries.

In [1]:
%load_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%sql mssql+pyodbc://sa:Ricarj02.@localhost/AdventureWorks?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

/home/ricardo/jb_env/lib/python3.13/site-packages/sql/connection.py:55: SAWarning: Unrecognized server version info '17.0.800.3'.  Some SQL Server features may not function properly.
  self.internal_connection = engine.connect()

In [3]:
result = %sql SELECT TOP 5 FirstName, LastName FROM Person.Person;
result

 * mssql+pyodbc://sa:***@localhost/AdventureWorks?TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server

   FirstName     LastName
0       Syed        Abbas
1  Catherine         Abel
2        Kim  Abercrombie
3        Kim  Abercrombie
4        Kim  Abercrombie